/* CSS declarations go here */

h6.id {
	margin:0;
	padding:0;
	text-align: center;
}
.thumbnail {
	display: inline-block;
}
.hidden {
	display: none;
}
#image-container {
	position: relative;
}
#crop-image-loading {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 30%;
	height: 50%;
}
.crop-uploader-url {
	font-size: 80%;
}
.crop-uploader-image-buttons {
	position: relative;
	bottom: 40px;
	left: 5%;
}
.crop-uploader-file-dropbox {
	position:absolute;
	top:0;
	left:15px;
	display:block;
	opacity:0;
}
label.dragover {
	background-color: green;
}
@media screen and (max-width: 414px) {
	#crop-image-loading {
		left: 15%;
	}
}