/* CSS declarations go here */

h6.id {
	margin:0;
	padding:0;
	text-align: center;
}
.thumbnail {
	display: inline-block;
}
.hidden {
	display: none;
}
#image-container {
	position: relative;
}
#crop-image-loading {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 30%;
	height: 100%;
}
@media screen and (max-width: 414px) {
	#crop-image-loading {
		left: 15%;
	}
}